{% extends "mainApp/wrapper.html" %}



{% block pageContent %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-xl-10 col-lg-7">
        <h3>{{channel.title}}</h3>
      </div>

  <div class="col-xl-2">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Videos
      </button>
      <div id='videoDropdownId' class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item" style="cursor: pointer;">All Videos</div>
        
      </div>
    </div>
  </div>
  </div>
    <!-- Area Chart -->
    <div class="row">
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4" style="width: 1000px;">
          <!-- Card Body -->
          <div class="card-body" style="height: 500px; width: 1000px;">
            <div class="chart-area">
              <canvas id="myLineChart" data-url="{% url 'videos-line-chart' sChannelId=channel.channel_id %}"></canvas>
            </div>
          </div>
        </div>
      </div>
    
    </div>  
    
  </div>
  <!-- /.container -->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  
  function getRandomRgb(iNumberOfData) {
    let aRGBA = []
    for(let i = 0; i < iNumberOfData;i++){
      var num = Math.round(0xffffff * Math.random());
      var r = num >> 16;
      var g = num >> 8 & 255;
      var b = num & 255;
      aRGBA.push('rgb(' + r + ', ' + g + ', ' + b + ')');
    }
    return aRGBA
}

  function onInitVideosLineCanvas(aLabels,aData,aVideoTitles){
    const ctx = document.getElementById('myLineChart').getContext('2d');
    const aBackgroundColors = getRandomRgb(aData.length)
    const aBackgroundBorders = aBackgroundColors
    let aDataset = [];
    for(let i=0;i<aData.length;i++){
      aDataset.push({
              label: aVideoTitles[i],
              data: aData[i],
              fill: false,
              backgroundColor: aBackgroundColors[i],
              borderColor: aBackgroundBorders[i],
              borderWidth: 1
      })
    }
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: aLabels,
          datasets: aDataset
      },
      options: {
          responsive: true,
          title:{
            display: true,
            text: 'Videos View Count'
          },
        //   tooltips:{
        //     mode: 'index',
        //     intersect:false
        //   },
        //   hover:{
        //     mode: 'nearest',
        //     intersect: true
        //   },
          scales: {
              xAxes:[{
                  display:true,
                  scaleLabel:{
                      display:true,
                      labelString: 'Day'
                  }
              }],
              yAxes:[{
                  display:true,
                  scaleLabel:{
                      display:true,
                      labelString: 'View'
                  }
              }],
          }
      }
  });
  $('#myLineChart').data('myChart', myChart);
  }

$(function () {
  const $lineChart = $("#myLineChart");
$.ajax({
  url: $lineChart.data("url"),
  success: function (data) {
    let aData = Object.values(data.data);
    const iLabelsNumber = data.labels.length;
    
    aData.map((aDataArray,iIndex)=>{
      if(aDataArray.length < iLabelsNumber){
        let iDataArrayLen = aDataArray.length;
        for(let i=0; i < iLabelsNumber - iDataArrayLen;i++){
          aDataArray.unshift(null)
        }
      }
    })
    onInitVideosLineCanvas(data.labels,aData,Object.keys(data.data))
    addVideosToDropdown(Object.keys(data.data))
    }

  })
});

function addVideosToDropdown(aVideos){
const oDropdown = document.querySelector('#videoDropdownId');
aVideos.forEach(sVideoName=>{
  oDropdown.appendChild(createVideoDropdownItem(sVideoName))
})
oDropdown.addEventListener('click',onVideosDropdownClick)
}

function createVideoDropdownItem(sName){
  let div = document.createElement('div');
  div.innerHTML = sName;
  div.className = "dropdown-item";
  div.style = "cursor: pointer;"
  return div
}

function onVideosDropdownClick(oEvent){
  const sVideoName = oEvent.target.innerHTML;
  const $lineChart = $("#myLineChart");
$.ajax({
  url: $lineChart.data("url"),
  success: function (data) {
    if(sVideoName == 'All Videos'){
      let aData = Object.values(data.data);
      const iLabelsNumber = data.labels.length;
      
      aData.map((aDataArray,iIndex)=>{
        if(aDataArray.length < iLabelsNumber){
          let iDataArrayLen = aDataArray.length;
          for(let i=0; i < iLabelsNumber - iDataArrayLen;i++){
            aDataArray.unshift(null)
          }
        }
      })

      setAllVideosLineCanvas(aData,data.labels,Object.keys(data.data))
    }
    else{
      const aVideoData = data.data[sVideoName];
      const aVideoLabels = data.labels.slice(data.labels.length - aVideoData.length);
    
      setDataChart(aVideoData,aVideoLabels,sVideoName)
      }
    }

  })
}

function setDataChart(aData,aLabels,sVideoName){
  const chart = $("#myLineChart").data('myChart')
  const aBackgroundColors = getRandomRgb(aData.length)
  const aBackgroundBorders = aBackgroundColors
  chart.data.datasets=[{
              data: aData,
              fill: false,
              label: sVideoName,
              backgroundColor: aBackgroundColors[0],
              borderColor: aBackgroundBorders[0],
              borderWidth: 1
          }]
  chart.data.labels = aLabels
  chart.update()
}

function setAllVideosLineCanvas(aData,aLabels,aVideoTitles){
    const chart = $("#myLineChart").data('myChart')
    const aBackgroundColors = getRandomRgb(aData.length)
    const aBackgroundBorders = aBackgroundColors
    let aDataset = [];
    for(let i=0;i<aData.length;i++){
      aDataset.push({
              label: aVideoTitles[i],
              data: aData[i],
              fill: false,
              backgroundColor: aBackgroundColors[i],
              borderColor: aBackgroundBorders[i],
              borderWidth: 1
      })
    }
    chart.data.datasets = aDataset
    chart.data.labels = aLabels
    chart.update()
    }
  


</script>

{% endblock %}